.container{
    text-align: center;
    
    padding : 40px;
    background-color: aqua;
    margin: 50px;
}
.players{
   
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin : 20px;
    padding : 30px;
    background-color: bisque;
}
.dice{
    
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:rgba(84, 162, 84, 0.866);

}

.active{
    box-shadow: 3px -5px 8px #888888;
}

button{
    margin-left: auto;
    margin-right: auto;
    padding: 15px 35px;
    font-weight: bold;
    font-size: large;
    border: none;
    background-color: grey;
    color: white;
}

#resetBtn{
    display: none;
   
}

button:hover{
    background-color: #d9cccc;
    color: black;
}